a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
#table_7ae82997 th {  } 
#table_7ae82997 td {  } 
#table_1fce3f8f th {  } 
#table_1fce3f8f td {  } 
#table_5442700c th {  } 
#table_5442700c td {  } 
#button_6c5b77d1 { box-sizing: border-box; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:300px; height:200px; background-color:#FFFFFF; border: 2px solid #646464;  }
#button_6c5b77d1:hover { background-color:#A9A9BC; border-color:#000000;  }
#button_6c5b77d1:hover span { color:#FFFFFF; }
#button_14f6314d { box-sizing: border-box; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:300px; height:200px; background-color:#FFFFFF; border: 2px solid #646464;  }
#button_14f6314d:hover { background-color:#A9A9BC; border-color:#000000;  }
#button_14f6314d:hover span { color:#FFFFFF; }
#table_4cdd36f7 th {  } 
#table_4cdd36f7 td {  } 
body { background-color:#C8C8C8; background: linear-gradient(to bottom, #2D2D2D, #C8C8C8); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#table_7ae82997 { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:280px; background:none; table-layout: fixed;  }
#cell_6f87498c {  }
.textstyle2 { text-align:left; }
#table_1fce3f8f { vertical-align: bottom; position:relative; display: inline-table; width:100%; height:40px; background:none; table-layout: fixed;  }
#table_5442700c { vertical-align: bottom; position:relative; display: inline-table; width:95%; height:90px; background:none; table-layout: fixed;  }
#cell_50dff902 {  }
.textstyle3 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#cell_518a40e6 {  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#cell_c364c6a {  }
#table_4cdd36f7 { vertical-align: bottom; position:relative; display: inline-table; width:39%; height:30px; background:none; table-layout: fixed;  }
